<html ng-app='huaweiApp'>
<head>
	<title>DC Data</title>
	<base href='/'></base>
	<link rel="shortcut icon" href="#">
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
 <script src="/static/includes/angular.min.js"></script>
  <script type="text/javascript" src='static/includes/angular-leaflet-directive.min.js'></script>
	<script type='text/javascript' src='static/js/controllers.js'></script>
	<script type='text/javascript' src='static/js/app.js'></script>
 	<script type="text/javascript" src='static/includes/mapbox.js'></script>
  <link rel="stylesheet" type="text/css" href="static/css/style.css"></script>
  <link rel="stylesheet" type="text/css" href='static/includes/mapbox.css'></link>
  </head>
  
<body ng-controller='MainController'>
	<div class='l-single-column clearfix'>
      <h1> Get Data: </h1>
      <button onclick =""> Add Stations </button>
         <button type="button" class="btn btn-danger" ng-click="getResults()"> Load Bike Stations </button>
  </div>

<!-- <div id='map'></div>
  <script type="text/javascript">
    L.mapbox.accessToken = 'pk.eyJ1Ijoia2VydWlxaXUiLCJhIjoiMDlhYTc1OTQ4M2ExYjU2NTMwNzA1OGEwMGNiMmY0Y2QifQ.cwg1kVVOBUgcbB4lk_uv4g';
          
    var mapboxTiles = L.tileLayer('https://{s}.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'});

    dc_long  = -77.0164;
    dc_lat = 38.9047;
    var map = L.map('map')
      .addLayer(mapboxTiles)
      .setView([dc_lat, dc_long], 15);

    function putData(){
      info = angular.element(document.querySelector('[ng-controller="MainController"]')).scope().information;
      pinTheMap(info);
    }
    function pinTheMap(data){
        var stationArray = new Array(data.length)
        for (var i = 0; i < data.length; i++){
          station = data[i];
          stationArray[i] = L.marker([station.lat, station.lon]).bindPopup(station.name);
        }
        markerLayerGroup = L.layerGroup(stationArray).addTo(map);
    }

  </script>  
 -->
  <leaflet tiles='tiles' center='dc' maxbounds='maxbounds' defaults='defaults' geojson='stations' style='width: 100%; top: 100px; height: 400px'></leaflet>
</body>
</html>
