<html ng-app='huaweiApp'>
<head>
	<title>DC Data</title>
	<base href='/'></base>
	<link rel="shortcut icon" href="#">
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type="text/javascript" src="/static/includes/angular.min.js"></script>
  <script type="text/javascript" src='static/includes/angular-leaflet-directive.min.js'></script>
	<script type='text/javascript' src='static/js/controllers.js'></script>
	<script type='text/javascript' src='static/js/app.js'></script>
 	<script type="text/javascript" src='static/includes/mapbox.js'></script>
  <link rel="stylesheet" type="text/css" href="static/css/style.css"></script>
  <link rel="stylesheet" type="text/css" href='static/includes/mapbox.css'></link>
</head>
  
<body ng-controller='MainController'>
	<div class='l-single-column clearfix'>
      <h1> Get Data: </h1>
         <button type="button" class="btn btn-danger" ng-click="getResults()"> Load Bike Stations </button>
  </div>

  <leaflet tiles='tiles' center='dc' maxbounds='maxbounds' defaults='defaults' geojson='stations' style='width: 100%; top: 100px; bottom: 100px; height: 300px'></leaflet>
</body>
</html>
